#goods {
    header {
        background-image: url('../img/header/header-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-position: center center;
        min-height: 900px;
        .carousel-caption {
            font-family: 'RoadRadio-Bold';
            right: 8%;
            left: 8%;
            bottom: -145px;
            h1 {
                font-size: 6rem;
                // font-size: 4.39vw;
                text-transform: uppercase;
                line-height: 1.4;
            }
            h2 {
                font-family: 'Open Sans', sans-serif;
                font-size: 2.6rem;
                padding-top: 10px;
            }
            .view-more {
                // background-color: $viewMoreBtnBG;
                // color: #302e28;
                // font-size: 2rem;
                // padding: 15px 40px 15px 40px;
                // text-align: center;
                // margin-top: 20px;
                // display: inline-block;
                font-family: 'RoadRadio-Bold';
                background-color: #fde24c;
                color: #000;
                font-size: 2rem;
                padding: 15px 40px 15px 40px;
                text-align: center;
                margin-top: 80px;
                display: inline-block;
                text-shadow: none;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}