<!-- START IMAGE MODAL -->
<div class="modal fade" id="desc76" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog more-information" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Паркет Дуб Светлий 32 клас 8мм</h4>
            </div>
            <div class="modal-body">
                <div class="left-side">
                    <!-- <img src="img/modal/image.jpg" alt="image"> -->

                    <!-- START CAROUSEL -->
                    <div id="carousel-product" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="img/modal/image.jpg" alt="image1">
                            </div>
                            <div class="item">
                                <img src="img/modal/image.jpg" alt="image2">
                            </div>
                            <div class="item">
                                <img src="img/modal/image.jpg" alt="image3">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-product" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel-product" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!-- END CAROUSEL -->

                    <div class="under-image">
                        <h2>288 <span>грн/м2</span></h2>
                        <button type="button" class="get">Заказать</button>
                    </div>
                </div>
                <div class="right-side">
                    <div class="top-part">

                        <h3>Описание:</h3>
                        <p>Индивидуальная технология производства, которая позволяет сохранить естественный вид поверхности после порезки дерева в ламель на пилораме. Ламель нарезается</p>
                    </div>
                    <div class="bottom-part">
                        <div class="left-column">
                            <p><span>Название:</span> паркет Светлый Орех</p>
                            <p><span> Страна:</span> Бельгия</p>
                            <p><span> Производитель:</span> Balterio</p>
                            <p><span>Коллекция:</span> Stretto</p>
                            <p><span>Цвет:</span> Темный</p>
                        </div>
                        <div class="right-column">
                            <p><span>Дизайн:</span> 1-полосный</p>
                            <p><span> Порода дерева:</span> Орех</p>
                            <p><span> Фаска</span> да</p>
                            <p><span>Ширина, мм:</span> 134</p>
                            <p><span>Цена:</span>666 грн/м2</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<!-- END IMAGE MODAL -->