$headerTextColor: #6a3f03;
$underHeaadText: #af9878;
#make-your-home {
    min-height: 620px;
    .head-text {
        h2 {
            color: $headerTextColor;
            // font-size: 12rem;
            font-size: 8.97vw;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            padding-top: 90px;
        }
    }
    .under-head-text {
        h4 {
            text-align: center;
            color: $underHeaadText;
            font-size: 2.5rem;
            // font-size: 1.9vw;
            font-family: 'Open Sans', sans-serif;
            padding-top: 60px;
            span {
                text-transform: uppercase;
                font-family: 'Carton';
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #make-your-home {
        min-height: 345px;
        .head-text {
            h2 {
                padding-top: 0px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #make-your-home {
        min-height: 270px;
        .under-head-text {
            h4 {
                font-size: 2rem;
                padding-top: 30px;
            }
        }
    }
}