$backroundColor: #5c4c3b;
#partners {
    min-height: 475px;
    background-color: $backroundColor;
    .row:nth-child(1),
    .row:nth-child(2) {
        display: flex;
        justify-content: center
    }
    .line-block {
        padding-top: 20px;
    }
    .head-text {
        padding-bottom: 60px;
        h2 {
            font-family: 'RoadRadio-Thin';
            font-size: 6rem;
            color: #fff;
            text-align: center;
        }
    }
}

#partners {
    .multi-item-carousel {
        .carousel-control.right,
        .carousel-control.left {
            background-image: unset;
        }
        .carousel-control.right {
            margin-right: -120px
        }
        .carousel-control.left {
            margin-left: -120px
        }
        .carousel-control {
            font-size: 90px;
            opacity: 0.1;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .carousel-inner {
            >.item {
                // transition: 500ms ease-in-out left;
            }
            .active {
                display: flex;
                align-items: center;
                &.left {
                    left: -33%;
                }
                &.right {
                    left: 33%;
                }
            }
            .next {
                left: 33%;
            }
            .prev {
                left: -33%;
            }
            // @media all and (transform-3d),
            // (-webkit-transform-3d) {
            //     >.item {
            //         // use your favourite prefixer here
            //         transition: 500ms ease-in-out left;
            //         transition: 500ms ease-in-out all;
            //         backface-visibility: visible;
            //         transform: none!important;
            //     }
            // }
        }
        .carouse-control {
            &.left,
            &.right {
                background-image: none;
            }
        }
    }
}