$backgroundColor: #fde24c;
$textColor: #5f5141;
$btnBackground: #5e4e3a;
#download {
    min-height: 122px;
    background-color: $backgroundColor;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .text {
        padding-top: 5px;
        h2 {
            font-family: 'Open Sans', sans-serif;
            font-size: 2.9rem;
            color: $textColor;
            margin-top: 10px;
        }
    }
    .button {
        a {
            font-family: 'RoadRadio-Bold';
            font-size: 1.75rem;
            color: #fff;
            padding: 15px 40px 15px 40px;
            background-color: $btnBackground;
            text-align: center;
            display: inline-block;
            margin-top: 5px;
            &:hover {
                text-decoration: none;
            }
            &:focus {
                text-decoration: none;
                outline: 0;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    #download {
        .text {
            h2 {
                text-align: center;
                font-size: 2.2rem;
            }
        }
        .row {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .button {
            padding-bottom: 20px;
            margin-left: 0px !important;
            a {
                font-size: 1.6rem;
                text-decoration: none;
            }
            &:focus {
                text-decoration: none;
            }
        }
    }
}