$getCallBg: #4c3823;
$burgerIcon: #fde24c;
nav {
    padding-top: 50px;
    z-index: 999;
    .navbar-toggle .icon-bar {
        background-color: $burgerIcon;
    }
    .navbar-brand {
        margin-top: -30px;
    }
    #navbar {
        font-family: 'Open Sans', sans-serif;
        .left-navbar {
            // li:nth-child(1) {
            //     &:before {
            //         content: " ";
            //         position: absolute;
            //         z-index: -1;
            //         top: 1px;
            //         left: 0px;
            //         right: 5px;
            //         bottom: 1px;
            //         border-left: 3px solid #fff;
            //         opacity: 0.4;
            //     }
            // }
            li {
                font-size: 1.6rem;
                &:hover {
                    background-color: none;
                }
                a {
                    color: white;
                    &:hover {
                        text-decoration: none;
                        background-color: unset;
                    }
                }
            }
        }
        .navbar-right {
            .right-phone {
                margin-top: -20px;
                p {
                    font-size: 2.2rem;
                    text-align: center;
                    padding-bottom: 10px;
                    color: #e5e2e2;
                }
                .get-call {
                    font-size: 1.9rem;
                    background-color: $getCallBg;
                    color: #fff;
                    padding: 4px 10px 4px 10px;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }
    }
}

#test-nav {
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
        img {
            max-width: 180px;
            height: auto
        }
        display: flex;
        // flex-direction: row;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
    }
    .burger {
        font-size: 40px;
        position: relative;
        left: 35%;
        i {
            color: #fde24c;
        }
    }
}

.logo-on-page {
    display: flex;
    justify-content: center;
    .logo-link {
        display: block;
        width: 180px;
    }
    img {
        max-width: 180px;
        height: auto;
        position: absolute;
        z-index: 2;
        padding-top: 20px;
    }
}

aside {
    height: 100%;
    width: 25%;
    background: #fbe3c2;
    transform: translate(-200%);
    transition: all 0.7s;
    text-align: left;
    float: left;
    position: absolute;
    z-index: 999;
    box-shadow: 14px 14px 20px 0 rgba(0, 0, 0, 0.3);
    img.logo {
        max-width: 50%;
        margin: 0 auto;
        padding-top: 20px;
    }
    .menu-items {
        font-family: 'RoadRadio-Thin';
        font-size: 2.6rem;
        font-weight: 500;
        font-size: 2rem;
        width: 100%;
        display: block;
        text-align: center;
        background: transparent;
        border: none;
        padding: 2rem 0;
        transition: all 0.1s;
        transition: all 0.3s;
        a {
            color: #211505;
            text-decoration: none;
        }
        &:hover {
            cursor: pointer;
            background: white;
        }
        &.city {
            border-top: 1px rgba(197, 185, 168, 0.3) solid;
            padding-top: 50px;
            color: #211505;
            &:hover {
                background: none;
                cursor: default;
            }
        }
        &.street {
            padding: 0;
            color: #211505;
            &:hover {
                background: none;
                cursor: default;
            }
        }
        &.first-item {
            border-top: 1px rgba(197, 185, 168, 0.3) solid;
            margin-top: 20px;
        }
    }
    .right-phone {
        display: flex;
        flex-direction: column;
        /* justify-content: initial; */
        align-items: center;
        justify-content: left;
        margin-top: 50%;
    }
    .right-phone p {
        font-family: 'Open Sans', sans-serif;
        font-size: 2.2rem;
        text-align: center;
        padding-bottom: 10px;
        color: #000;
        ;
    }
    .right-phone .get-call {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.9rem;
        background-color: #4c3823;
        color: #fff;
        padding: 4px 10px 4px 10px;
        text-align: center;
        text-decoration: none;
    }
}

input {
    display: none;
    // margin: 3em;
    // float: right;
}

input+label {
    float: right;
    display: inline-block;
    padding: 0.5em;
    background: transparent;
    font-size: 2.7em;
    color: #fde24c;
    position: absolute;
    z-index: 999;
    right: 85px;
    top: 45px;
}

input+label:hover {
    cursor: pointer;
}

input:checked+label+aside {
    transform: translate(0);
}

@media screen and (max-device-width: 640px) and (orientation: landscape) {
    aside {
        overflow-y: scroll;
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    aside {
        width: 50%;
        .menu-items {
            font-size: 1.3rem;
            padding: 0.8rem 0;
        }
    }
    .logo-on-page {
        display: flex;
        justify-content: center;
        .logo-link {
            display: block;
            width: 35%;
        }
    }
}